body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #add8e6;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  transition: .7s ease-out;
  }
  a:hover {
    color: #ba8058;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 15px;
  }
  header nav ul li a svg {
    margin-right: 6px;
  }
  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* logo */

#logo{
  width:140px;
  height: 120px;
  transition:transform .5s ease-out;
}
#logo:hover{
  transform:scale(1.3) rotate(360deg);
}

/* logo colors */
.st0{fill:#BA8058;}
.st1{fill:#EAAA7F;}
.st2{fill:#F4C6A6;}

/*logo text*/
.logo_text{
  opacity: 0;
}

.logo_text_replacement{
  text-transform: uppercase;
  color: #BA8058;
  margin-bottom: 5px;
}

/* corgi*/
.corgi{
  width: 170px;
  height: 170px;
  transition: transform 1s ease-out;
}
.corgi:hover{
  transform:scale(1.1) rotate(-8deg);
}

/* corgi body color */
#corgi_red .inner_nose,
#corgi_sable .inner_nose {
  fill:lightblue;
}

#corgi_fawn .inner_nose,
#corgi_black_tan .inner_nose {
  fill:grey;
}

#corgi_red .ear,
#corgi_sable .ear {
  fill:orange;
}

#corgi_fawn .ear,
#corgi_black_tan .ear {
  fill:tomato;
}

#corgi_red .head {
  fill: lightblue;
}

#corgi_fawn .head {
  fill: yellow;
}

#corgi_sable .head {
  fill: brown;
}

#corgi_black_tan .head {
  fill: pink;
}

#corgi_red .eyebrow,
#corgi_fawn .eyebrow,
#corgi_sable .eyebrow,
#corgi_black_tan .eyebrow{
  fill:black;
}

#corgi_red .eye,
#corgi_fawn .eye,
#corgi_sable .eye,
#corgi_black_tan .eye{
  fill:black;
}

#corgi_red .outer_nose,
#corgi_fawn .outer_nose,
#corgi_sable .outer_nose,
#corgi_black_tan .outer_nose{
  fill:white;
}
/*navigation*/
.nav_icon{
  width:20px;
  height:20px;
  fill:#39ADD1;
  transition: all .7s ease-out;
}
a:hover .nav_icon {
  fill:#ff6347;
  transform: scale(1.3) rotate(-10deg);
}


/* media queries */

@media (min-width:425px){
  .logo_text{
    opacity:1;
  }
  .logo_text_replacement{
    display:none;
  }
}
